<md-content>
    <h1>   PLAYERS: </h1>
    <md-input-container ng-init="player.getSports()" class="md-block">
        <label>Sports</label>
        <md-select ng-model="player.selectedSport" placeholder="sport">
            <md-option ng-repeat="sport in player.sports" value="{{sport.id}}">{{sport.name}}</md-option>
            <md-option  value="all">ALL</md-option>
        </md-select>
    </md-input-container>
    <md-input-container class="md-block" ng-if="player.selectedSport && player.selectedSport !='all'">
        <label>Position</label>
        <md-select ng-model="player.selectedPosition" placeholder="position">
            <md-option ng-repeat="position in player.getSport(player.selectedSport)[0].positions" value="{{position.id}}">{{position.name}}</md-option>
            <md-option  value="all">ALL</md-option>
        </md-select>
    </md-input-container>
    <md-list ng-init="player.getPlayers()">
        <md-list-item class="md-3-line" ng-repeat="playerItem in player.filteredPlayers" ng-click="showAll = !showAll">
            <div class="md-list-item-text" layout="column">
                <h3>{{playerItem.first_name}} {{playerItem.last_name}}</h3>
                <p>Height: {{playerItem.height}} cm</p>
                <p>Weight: {{playerItem.weight}} kg</p>
                <div ng-if="showAll">
                    Sports:
                    <p ng-if= "playerItem.sports.length == 0"> No Sport</p>
                    <p ng-repeat="sportItem in playerItem.sports"> 
                        <b>{{sportItem.name}}</b>
                        Position: {{player.getPosition(playerItem.positions, sportItem.id)[0].name}}
                    </p>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>   