<md-progress-linear md-mode="indeterminate" ng-if="!team.loaded"></md-progress-linear>
<md-content class="whiteframe" layout="row">
    <div class="md-padding" layout="column" flex="40">
        <h2>
            <md-icon md-svg-src="img/icons/team.svg" class="svg"></md-icon> 
            ADD TEAM
        </h2>
        <form ng-submit="team.addTeam(data)"  name="teamForm">
            <div>
                <md-input-container id="select" class="input ">
                    <input type="text" class="form-control input-sm" name="name" ng-model="data.name" placeholder="Name" required>
                    <div ng-messages="teamForm.name.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a name for the team.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="md-block">
                <label>Sport</label>
                <md-select ng-model="data.sport_id" name="sport" id="select" class="input" required>
                    <md-option ng-repeat="sport in team.sports track by sport.id" ng-value="sport.id">
                    {{sport.name}}
                    </md-option>
                </md-select>
                <div ng-messages="teamForm.sport.$error" role="alert" multiple="">
                    <div class="my-message" ng-message="required">You must supply a sport for the team.</div>
                </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container id="select" class="input">
                <label>Poc</label>
                <md-select ng-model="data.user_id" name="poc" class="md-block" required>
                    <md-option ng-repeat="poc in team.poc track by poc.id" ng-value="poc.id">
                    {{poc.first_name}} {{poc.last_name}}
                    </md-option>
                </md-select>
                <div ng-messages="teamForm.poc.$error" role="alert" multiple="">
                    <div class="my-message" ng-message="required">You must have a POC for the team.</div>
                </div>
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="!teamForm.$valid">Add Team</md-button>
        </form>
    </div>

    <!--end of adding a new team-->
    <md-divider class="vertical-divider"></md-divider>
    <div class="md-padding" layout="row">
        <div layout="column">
            <h2>
                <ng-md-icon icon="settings"></ng-md-icon> Teams
            </h2>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="teamItem in team.teams" ng-click="team.showTeam(teamItem.id)">
                        <h3>{{teamItem.name}}</h3>
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>
