<md-progress-linear md-mode="indeterminate" ng-if="!player.loaded"></md-progress-linear>
<md-content class="whiteframe" layout="row">
    <div class="md-padding" layout="column" flex="30">
        <div>
            <md-icon md-svg-src="img/icons/players.svg" class="svg"></md-icon>
            PLAYERS
        </div>
        <div>
            <md-menu md-offset="0 -7">
                <md-button class="md-raised md-primary" aria-label="Open menu" ng-click="$mdMenu.open($event)">
                    Export Players
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="player.export('xls')">XLS</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="player.export('xlsx')">XLSX</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="player.export('csv')">CSV</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div>
            <md-input-container ng-init="player.getSports()" class="md-block">
                <label>Sports</label>
                <md-select ng-model="player.selectedSport" ng-change="player.sportPlayers(player.selectedSport)" placeholder="sport">
                    <md-option ng-repeat="sport in player.sports track by $index"  value="{{sport.id}}">{{sport.name}}</md-option>
                    <md-option selected  value="all">ALL</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" ng-if="player.selectedSport && player.selectedSport !='all'">
                <label>Position</label>
                <md-select ng-model="player.selectedPosition" ng-change="player.positionPlayers(player.selectedPosition)" placeholder="position">
                    <md-option ng-repeat="position in player.getSport(player.selectedSport)[0].positions" value="{{position.id}}">{{position.name}}</md-option>
                    <md-option value="all">ALL</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>

    <md-divider class="vertical-divider"></md-divider>
    <div class="md-padding" layout="row">
        <div layout="column">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="playerItem in player.players " ng-click="showAll = !showAll">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{playerItem.first_name}} {{playerItem.last_name}}</h3>
                        <p>Height: {{playerItem.height}} cm</p>
                        <p>Weight: {{playerItem.weight}} kg</p>
                        <!-- <div ng-if="showAll">
                            Sports:
                            <p ng-if= "playerItem.sports.length == 0"> No Sport</p>
                            <p ng-repeat="sportItem in playerItem.sports">
                                <b>{{sportItem.name}}</b>
                                Position: {{player.getPosition(playerItem.positions, sportItem.id)[0].name}}
                            </p>
                        </div> -->
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
    
</md-content>
