<md-content class="whiteframe" layout="row">
    <div layout="row" class="img-logo">
        <!--<div layout="column">-->
            <!--<img ng-src="img/2Color-Logo_247px-1024x195.png" class="img-logo">s-->
            <img ng-src="img/2Color-Favicon_512x512-1.png" ui-sref="home.home">
        <!--</div>-->
    </div>
<!--adding a new player -->
    <div class="md-padding" layout="column">
        <form class="register" ng-submit="player.submit(data)" name="registrationForm">
            <div>
                <h2>Register</h2>
                <md-input-container>
                    <label>Employee ID</label>
                    <md-icon md-svg-src="img/icons/account-card-details.svg"></md-icon>
                    <input type="text" class="form-control input-sm" ng-model="data.employee_id" required>
                    <!--<div ng-messages="data.employee_id.$error" role="alert" multiple>
                        <div ng-message="pattern" class="my-message">Invalid Cellphone Number.
                        </div>
                    </div>-->
                </md-input-container>
                <md-input-container>
                    <label>Cellphone Number</label>
                    <md-icon md-svg-src="img/icons/ic_contact_phone_black_24px.svg"></md-icon>
                    <input class="form-control input-lg" ng-model="data.cellphone_number"  name="cellphone_number" required placeholder="+63*********" ng-pattern="/^(0|\+[0-9]{1,4})?\d{9,10}/" md-maxlength="13">
                    <!--<div ng-messages="data.cellphone_number.$error" role="alert" multiple>
                        <div ng-message="pattern" class="my-message">Invalid Cellphone Number.
                        </div>
                    </div>-->
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <md-icon md-svg-src="img/icons/ic_face_black_24px.svg"></md-icon>
                    <input type="text" class="form-control input-sm" ng-model="data.last_name"  required>
               </md-input-container>
               <md-input-container>
                   <label>First Name</label>
                    <input type="text" class="form-control input-sm" ng-model="data.first_name"  required>
                </md-input-container>

                <md-input-container>
                    <label>Height</label>
                    <md-icon md-svg-src="img/icons/human-male.svg"></md-icon>
                    <input class="form-control input-sm" ng-model="data.height"  required>
               </md-input-container>
               <md-input-container>
                   <label>Weight</label>
                   <md-icon md-svg-src="img/icons/weight-kilogram.svg"></md-icon>
                    <input class="form-control input-sm" ng-model="data.weight"  required>
                </md-input-container>
                
                <md-input-container>
                    <label>Tower Lead</label>
                    <md-icon md-svg-src="img/icons/account-star1.svg"></md-icon>
                    <input class="form-control input-lg" ng-model="data.tower_lead" required>
                </md-input-container>
                <md-input-container>
                    <label>Team Leader</label>
                    <md-icon md-svg-src="img/icons/account-star2.svg"></md-icon>
                    <input class="form-control input-lg" ng-model="data.team_lead" required>
                </md-input-container>
            <!--</div>-->
            <!--selection of sports-->
            <!--<div flex="80">-->
                <md-input-container ng-init="player.getSports()" class="md-block">
                    <label>Sports</label>
                     <md-icon md-svg-src="img/icons/basketball.svg"></md-icon>
                    <md-select multiple ng-model="data.sports">
                    <md-option ng-repeat="sport in player.sports" value="{{sport.id}}">{{sport.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <!--selection of position in sports-->
            <div flex="80">
               <md-list ng-if="data.sports.length > 0">
                    <md-list-item class="md-3-line" ng-repeat="sportItem in data.sports" ng-if="player.getSport(sportItem)[0].positions.length != 0">
                    <div class="md-list-item-text" layout="column">
                        <label>Select Position</label>
                        <md-input-container class="md-block" >
                            <label>{{player.getSport(sportItem)[0].name}}</label>
                            <md-icon md-svg-src="img/icons/trail-running-shoe.svg"></md-icon>
                            <md-select ng-model="data.positions[sportItem]" placeholder="{{player.getSport(sportItem)[0].name}}">
                            <md-option ng-repeat="position in player.getSport(sportItem)[0].positions" value="{{position.id}}">{{position.name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-list>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" type="submit">REGISTER</md-button>
            </div>
        </form>
    </div>
    <!--end of adding a new player-->
     <!--<div flex="30"></div> -->
</md-content>