.navBardemoBasicUsage md-content .ext-content {
  padding: 10px;
  margin: 10px;
  background-color: #FFF2E0;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 1px;    /* if you want it vertically middle of the navbar. */
}

.img-circle {
    border-radius: 50%;
    width: 50px;
}

md-nav-bar .md-nav-bar {
  background: #f7f4f7;
}