<md-content class="whiteframe" layout="row">
<!--adding a new player -->
    <div class="md-padding" layout="column" flex="50">
        <h2>Register User</h2>
        <form ng-submit="user.register(data)" name="registrationForm">
            <div>
                <md-input-container>
                    <input type="email" class="form-control input-sm" ng-model="data.email" name="email" required placeholder="Email">
                    <div ng-messages="registrationForm.email.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply an email.</div>
                    </div>
                </md-input-container>
             </div>
            <div>
                <md-input-container>
                    <input type="password" class="form-control input-sm" ng-model="data.password" name="password" required placeholder="Password">
                    <div ng-messages="registrationForm.password.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a password.</div>
                    </div>
               </md-input-container>
               <md-input-container>
                    <input type="password" class="form-control input-sm" ng-model="dataConfirm.password"  name="confirm_password" required placeholder="Confim Password">
                    <div ng-messages="registrationForm.confirm_password.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must confirm your password.</div>
                    </div>
                </md-input-container>
                <span ng-show="data.password !== dataConfirm.password">Password doesn't match</span>
            </div>
             <div>
                <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.last_name" name="last_name" required placeholder="Last Name">
                    <div ng-messages="registrationForm.last_name.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a last name.</div>
                    </div>
               </md-input-container>
               <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.first_name" name="first_name" required placeholder="First Name">
                    <div ng-messages="registrationForm.first_name.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a Given name.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input class="form-control input-lg" ng-model="data.cellphone_number"  name="cellphone_number" ng-pattern="/^[0-9]{10,12}$/" required placeholder="Cellphone Number">
                    <div ng-messages="registrationForm.cellphone_number.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a Cellphone Number.
                        </div>
                        <div ng-message="pattern" class="my-message">That doesn't look like a valid cellphone number.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <!--selection of sports-->
            <div flex="20">
                <md-input-container class="md-block" ng-init="user.getRoles()" >
                    <label>Role</label>
                    <md-select ng-model="data.role_id" name="role" required>
                      <md-option ng-repeat="role in user.roles" value="{{role.id}}">{{role.name}}</md-option>
                    </md-select>
                    <div ng-messages="registrationForm.role.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply your own role</div>
                    </div>
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-disabled="!registrationForm.$valid" type="submit">REGISTER</md-button>
        </form>
    </div>
    <!--end of adding a new player-->
    <!-- <div flex="30"></div> -->
    <div layout="row" class="md-padding">
        <div layout="column">
            <img ng-src="img/2Color-Logo_247px-1024x195.png" class="img-logo">
            <h1>wow</h1>
        </div>
    </div>
</md-content>