<md-progress-linear md-mode="indeterminate" ng-if="!user.loaded"></md-progress-linear>
<md-content class="whiteframe" layout="row">
<!--adding a new player -->
    <div class="md-padding" layout="column" flex="40">
        <h2>Register User</h2>
        <form ng-submit="user.register(data)" name="registrationForm">
            <div>
                <md-input-container>
                    <input type="email" class="form-control input-sm" ng-model="data.email" name="email" required placeholder="Email">
                    <div ng-messages="registrationForm.email.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply an email.</div>
                    </div>
                </md-input-container>
             </div>
            <div>
                <md-input-container>
                    <input type="password" class="form-control input-sm" ng-model="data.password" name="password" required placeholder="Password">
                    <div ng-messages="registrationForm.password.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a password.</div>
                    </div>
               </md-input-container>
               <md-input-container>
                    <input type="password" class="form-control input-sm" ng-model="dataConfirm.password"  name="confirm_password" required placeholder="Confim Password">
                    <div ng-messages="registrationForm.confirm_password.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must confirm your password.</div>
                    </div>
                </md-input-container>
                <span ng-show="data.password !== dataConfirm.password">Password doesn't match</span>
            </div>
             <div>
                <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.last_name" name="last_name" required placeholder="Last Name">
                    <div ng-messages="registrationForm.last_name.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a last name.</div>
                    </div>
               </md-input-container>
               <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.first_name" name="first_name" required placeholder="First Name">
                    <div ng-messages="registrationForm.first_name.$error" role="alert" multiple="">
                        <div class="my-message" ng-message="required">You must supply a Given name.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input class="form-control input-lg" ng-model="data.cellphone_number"  name="cellphone_number" ng-pattern="/^[0-9]{10,12}$/" required placeholder="Cellphone Number">
                    <div ng-messages="registrationForm.cellphone_number.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply a Cellphone Number.
                        </div>
                        <div ng-message="pattern" class="my-message">That doesn't look like a valid cellphone number.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <!--selection of roles-->
            <div flex="20">
                <md-input-container class="md-block" >
                    <label>Role</label>
                    <md-select ng-model="data.role_id" name="role" required>
                      <md-option ng-repeat="role in user.roles" value="{{role.id}}">{{role.name}}</md-option>
                    </md-select>
                    <div ng-messages="registrationForm.role.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">You must supply your own role</div>
                    </div>
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-disabled="!registrationForm.$valid" type="submit">REGISTER</md-button>
        </form>
    </div>
    <!--end of adding a new player-->
    <!-- <div flex="30"></div> -->
    <md-divider class="vertical-divider"></md-divider>
    <div class="md-padding" layout="row">
        <div layout="column">
            <img ng-src="img/2Color-Logo_247px-1024x195.png" class="img-logo">
            <h1>Manage Users</h1>
            <md-list ng-init="player.getPlayers()">
            <md-list-item class="md-3-line" ng-repeat="userItem in user.users" ng-click="showAll = !showAll">
                <div class="md-list-item-text" layout="column">
                    <h2>{{userItem.first_name}} {{userItem.last_name}}</h2>
                    <p>Email: {{userItem.email}}</p>
                    <p>Cellphone Number: {{userItem.cellphone_number}}</p>
                    <p>Role: {{userItem.role.name}}</p>
                    <div ng-if="showAll">
                        <md-button class="md-raised md-primary" ng-click="user.editModal($event, userItem)">Edit</md-button>
                        <!-- <md-button class="md-raised md-primary" ng-click="user.hello()">Change Role</md-button> -->
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        </div>
    </div>
</md-content>

<script type="text/ng-template" id="edit.tmpl.html">
    <md-dialog flex="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form ng-submit="update(data)" name="modalForm">
                <div>
                    <md-input-container>
                        <input type="text" class="form-control input-sm" ng-model="data.email" placeholder="Email" required>
                    </md-input-container>
                </div>
                <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.first_name" placeholder="First Name" required>
                </md-input-container>
                <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.last_name" placeholder="Last Name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="text" class="form-control input-lg" ng-model="data.cellphone_number" placeholder="Cellphone Number" required>
                </md-input-container>
                <div flex="20">
                    <md-input-container class="md-block">
                        <label>Role</label>
                        <md-select ng-model="data.role_id" name="role">
                          <md-option ng-repeat="role in data.roles" value="{{role.id}}">{{role.name}}</md-option>
                        </md-select>
                        <div ng-messages="registrationForm.role.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply your own role</div>
                        </div>
                    </md-input-container>
                </div>
                <md-dialog-actions layout="row">
                    <md-button class="md-primary" aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="!modalForm.$valid" type="submit">Update</md-button>
                </md-dialog-actions>
            </form>
        </md-dialog-content>
    </md-dialog>
</script>