<md-progress-linear md-mode="indeterminate" ng-if="!sport.loaded"></md-progress-linear>
<md-content class="whiteframe" layout="row">
    <!--end of adding a new sport-->
    <!--foreach of the sports items and their CRUD-->
<div class="md-padding" layout="column" flex="60">
        <h2>
            <md-icon md-svg-src="img/icons/sports.svg" class="svg"></md-icon> SPORTS
        </h2>

      <md-list>
        <div ng-if="sport.sports == ''" id="emptyData">
                <h2>NO SPORTS ADDED</h2>
        </div>
        <md-list-item class="md-3-line" ng-repeat="sportItem in sport.sports" ng-click="clicked=!clicked" layout="row">
            <div class="md-list-item-text" layout="column" >
                <section layout="row" layout-align="end start" layout-wrap ng-if="clicked">
                    <md-button class="md-icon-button" aria-label="Exit" ng-click="$parent.clicked = false">
                        <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                    </md-button>
                </section>
                <h3>{{sportItem.name}}</h3>
                <p>{{sportItem.description}}</p>
                 <section layout="row" layout-align="end end" layout-wrap ng-if="!clicked">
                    <md-button class="md-raised" ng-click="sport.updateModal($event, sportItem)">Update</md-button>
                    <md-button class="md-raised" ng-click="sport.showConfirm($event, sportItem, 'sport')">Delete</md-button>
                </section>
               
               <!--foreach of the positions in sport-->
                <md-list ng-if="sportItem.positions.length != 0" >
                    <div class="md-list-item-text" ng-if="clicked" layout="column">
                        <b>Positions:</b>
                        <md-list-item ng-repeat="position in sportItem.positions" >
                            <p>{{position.name}}</p>
                            <md-button class="md-raised" ng-click="sport.showConfirm($event, position, 'position')">Delete</md-button>
                            <md-divider></md-divider>
                        </md-list-item>                  
                    </div>
                </md-list>
                <!--addinf a position-->
                <section layout="row" layout-align="end end" layout-wrap ng-if="clicked">
                    <md-button class="md-primary md-raised" ng-click="sport.addModalPosition($event, sportItem.id)">
                        Add a position
                    </md-button>                            
                </section>
            </div>
        </md-list-item>
    </md-list>
</div>

<!--adding a new sport -->
    <md-divider class="vertical-divider"></md-divider>
    <div class="md-padding" layout="row">
        <div layout="column">
            <h2>
                <ng-md-icon icon="add_circle"></ng-md-icon> Add New Sport
            </h2>
            <form ng-submit="sport.submit(data)" name="sportForm">
                <div>
                    <md-input-container>
                        <input type="text" class="form-control input-sm" name="name" ng-model="data.name" placeholder="Name" required>
                        <div ng-messages="sportForm.name.$error" role="alert" multiple="">
                            <div class="my-message" ng-message="required">You must supply a name for the sport.</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <input type="text" class="form-control input-lg" name="description" ng-model="data.description" placeholder="Description"required>
                        <div ng-messages="sportForm.description.$error" role="alert" multiple="">
                            <div class="my-message" ng-message="required">You must supply a description for the sport.</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <lf-ng-md-file-input lf-files="files" lf-browse-label="Choose" lf-remove-label="Delete" lf-drag-and-drop-label="Drag and Drop here!" drag preview lf-required></lf-ng-md-file-input>
                </div>

                <md-button class="md-raised md-primary" type="submit" ng-disabled="!sportForm.$valid">Add Sport</md-button>
            </form>
        </div>
    </div>
</md-content>
<script type="text/ng-template" id="update.tmpl.html">
    <md-dialog flex="50">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form ng-submit="update(data)" name="modalForm">
                <md-input-container>
                    <input type="text" class="form-control input-sm" ng-model="data.name" placeholder="Name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="text" class="form-control input-lg" ng-model="data.description" placeholder="Description" required>
                </md-input-container>
                <md-dialog-actions layout="row">
                    <md-button class="md-primary md-raised" ng-disabled="!modalForm.$valid" type="submit">Update</md-button>
                </md-dialog-actions>
            </form>
        </md-dialog-content>
    </md-dialog>
</script>
