
<md-content class="whiteframe" layout="row" ng-init="draft.getSports()" ng-cloak>
    <!--<div class="md-padding" layout="column" flex="30">
        <md-list ng-init="draft.getTeams()">
            <md-list-item class="md-3-line" ng-repeat="teamItem in draft.teams" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>{{draft.teams.indexOf(teamItem) + 1}}. {{teamItem.name}}</h3>
                </div>
                <md-divider ng-if="!$last"></md-divider>               
            </md-list-item>
        </md-list>
    </div>-->
        <div layout="column" class=" padding" flex=65>
        <h2>
            <md-icon md-svg-src="img/icons/draft.svg" class="svg"></md-icon> DRAFT PLAYERS
        </h2>
        <div>
            <md-input-container layout="row" flex="30" class="md-block">
                <md-icon md-svg-src="img/icons/search.svg"></md-icon>
                <input type="text" class="form-control input-sm" ng-model="draft.search" placeholder="Unassigned Player">
            </md-input-container>   
        </div>
        <!--<div class="md-padding" layout="column" flex ng-init="draft.getPlayers()">
            <div layout="column" flex>
                <div layout="row" flex>
                    <div class="myCell" flex><b>Player</b></div>
                    <div class="myCell" flex="20"><b>Position</b></div>
                    <div class="myCell" flex="15"><b>Height</b></div>
                    <div class="myCell" flex="15"><b>Weight</b></div>
                    <div class="myCell" flex="25"><b>Teams</b></div>
                </div>
                <div layout="row" ng-repeat="playerItem in draft.players | filter: {first_name: draft.search}|| filter: {last_name:draft.search}" flex>
                    <div class="myCell" flex>
                        <p>{{playerItem.last_name}}, {{playerItem.first_name}}</p>
                    </div>
                    <div class="myCell" flex="20">{{draft.getBasketballPosition(playerItem.positions)}}</div>
                    <div class="myCell" flex=15>{{playerItem.height}} cm</div>
                    <div class="myCell" flex=15>{{playerItem.weight}} kg</div>
                    <div flex="25" class="myCell" layout="row" layout-align="center center">
                        <md-input-container flex=60>
                            <label>Sport</label>
                            <md-select ng-model="playerItem.team_id" placeholder="Select Team">
                                <md-option ng-repeat="team in draft.teams" value="{{team.id}}">{{team.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex=30 ng-if="playerItem.team_id != null">
                            <md-button class="md-raised md-primary" ng-click="draft.updatePlayer(playerItem.id, playerItem)">Save</md-button>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- <md-toolbar class="md-whiteframe-1dp" ng-init="draft.getPlayers()">
            <div class="md-toolbar-tools">
                <div class="md-title"> <ng-md-icon icon="settings"></ng-md-icon> ASSIGN PLAYERS</div>
            </div>
        </md-toolbar> -->

            <md-table-container>
                <table md-table>
                    <thead md-head md-order="draft.query.order">
                    <tr md-row>
                        <th md-column md-order-by="last_name" flex>Player</th>
                        <th md-column flex="20">Position</th>
                        <th md-column md-numeric md-order-by="height" flex="15">Height (cms)</th>
                        <th md-column md-numeric md-order-by="weight" flex="15">Weight (kgs)</th>
                        <th md-column flex>Team</th>
                        <th md-column flex></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="playerItem in draft.players | filter: {first_name: draft.search}|| filter: {last_name:draft.search}| 
                    orderBy: draft.query.order| limitTo: draft.query.limit : (draft.query.page -1) * draft.query.limit">
                        <td md-cell>{{playerItem.first_name}} {{playerItem.last_name}}</td>
                        <td md-cell flex="20">{{draft.getBasketballPosition(playerItem.positions)}}</td>
                        <td md-cell flex="15">{{playerItem.height}}</td>
                        <td md-cell flex="15">{{playerItem.weight}}</td>
                        <td md-cell>
                            <md-input-container >
                                <label>Team</label>
                                <md-select ng-model="playerItem.team_id" placeholder="Select Team">
                                    <md-option ng-repeat="team in draft.teams" value="{{team.id}}">{{team.name}}</md-option>
                                </md-select>
                            </md-input-container> 
                        </td>               
                        <td md-cell>
                            <md-input-container ng-if="playerItem.team_id != null">
                                <ng-md-icon icon="save" ng-click="draft.updatePlayer(playerItem.id, playerItem)"></ng-md-icon>
                            </md-input-container>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <!--{{draft.players.length}}-->
            <md-table-pagination md-limit="draft.query.limit" md-limit-options="draft.limitOptions" 
            md-page="draft.query.page" md-total="{{draft.players.length}}"> 
            </md-table-pagination>
        </div>
        <!-- <div > -->
            <!-- <h1>TEAMS</h1> -->
        <div ng-repeat="remainder in [0,1]" flex="35" layout="column" class="md-padding">
            <md-card ng-repeat="team in draft.teams" ng-if="$index % 2 == remainder" flex="flex">
                <md-toolbar layout="row" >
                  <div class="md-toolbar-tools" style="overflow: hidden;" ng-init="poc = draft.getUser(team.user_id)">
                    <h2><span>{{team.name}} - <small><i>{{poc.first_name}} {{poc.last_name}} </i></small></span></h2>
                  </div>
                </md-toolbar>
                <md-card-content>
                    <p ng-repeat="player in team.players">
                        {{player.first_name}}, {{player.last_name}}
                    </p>
                </md-card-content>
            </md-card>
        </div>
</md-content>
