<div ng-if="!isAuthenticated()" id="personiv">
  <img ng-src="img/Personiv_Horizontal_hi-res_2Color_tag.png" >
</div>

<div ng-if="isAuthenticated()">
  <div ng-if="home.sports == ''" id="emptyData">
       <h2>SPORTS NOT AVAILABLE</h2>
  </div>
  <md-progress-linear md-mode="indeterminate" ng-if="!home.loaded"></md-progress-linear>
  <md-content class="md-padding whiteframe" layout-xs="column" layout="row" ng-if="home.sports != ''">
    <div ng-repeat="remainder in [0,1,2]" flex-xs="" flex-gt-xs="50" layout="column">
      <md-card ng-repeat="sport in home.sports" ng-if="$index % 3 == remainder">
        <img ng-if="sport.img_extension" ng-src="uploads/sports/{{sport.id}}.{{sport.img_extension}}" class="md-card-image" alt="No image">
        <img ng-if="!sport.img_extension" ng-src="img/2Color-Logo_247px-1024x195.png" class="md-card-image" alt="No image">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{sport.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{sport.description}}.
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-primary" ui-sref="home.players">View Players</md-button>
        </md-card-actions>
      </md-card>
    </div>

  </md-content>
  <!-- <md-button>VIEW ALL PLAYERS</md-button>
  <md-button>MANAGE USERS</md-button>
  <md-button>ETC</md-button> -->
</div>

<!-- if poc -->
<!-- ng if..... -->
<div class="md-padding">
  <h1><md-icon md-svg-src="img/icons/basketball.svg"></md-icon>Your Team</h1>
  //list of POC players
</div>
