<div ng-if="!isAuthenticated()">
  <img ng-src="img/2Color-Logo_247px-1024x195.png">
</div>

<div ng-if="isAuthenticated()">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <!-- first -->
    <div ng-repeat="remainder in [0,1,2]" flex-xs="" flex-gt-xs="50" layout="column">
      <md-card ng-repeat="sport in home.sports" ng-if="$index % 3 == remainder">
        <img ng-src="uploads/sports/{{sport.id}}.jpeg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{sport.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{sport.description}}.
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button class="md-raised md-primary">View Players</md-button>
        </md-card-actions>
      </md-card>
    </div>
    
  </md-content>
  <md-button>VIEW ALL PLAYERS</md-button>
  <md-button>MANAGE USERS</md-button>
  <md-button>ETC</md-button>
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->

